footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

footer img {
  width: 60px;
  mix-blend-mode: multiply;
}
.social_media {
  display: flex;
  justify-content: center;
  background-color: #f5c9b0;
  gap: 15px;
  padding-bottom: 10px;
}
.social_media img {
  width: 30px;
}
.footer_logo {
  width: 150px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
}
footer p {
  background-color: #f5c9b0;
}

/* Mobile (up to 480px) */
@media (max-width: 480px) {
  
}

/* Small tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  /* styles for tablets */
}

/* Medium devices (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* styles for landscape tablets and small laptops */
}

/* Large devices (1025px to 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* styles for desktops */
}

/* Extra large screens (above 1200px) */
@media (min-width: 1201px) {
  /* styles for large desktops and wide monitors */
}